
#home{
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 200px;
  margin-left:30px;
  margin: 0 auto;
  }
.menu{
    position: fixed;
    bottom: 0;
    height: 50px;
    width:100%;
    margin-left: -8px;
    background-color: rgb(178, 166, 140);    
    display:flex;
    justify-content:space-evenly;
    padding-top:50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.rotador_producto{
    display:flex;
    justify-content:center;
    width:auto;
    height:480px;
    margin: 0 auto;


}
.pantalla_producto{
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(238, 232, 225);

  }
  .pantalla_ventas{
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   background-color: rgb(238, 232, 225);
  }
  .pantalla_carrito{
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(238, 232, 225);

  }

  .registro_ventas{
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(238, 232, 225);

  }


.button{
    text-align:center;
    width: 70px;;
    height: 70px;;
    background:rgb(220, 201, 168);
    border-radius:50px;
    margin-top:-30px ;
  }

  .visualizador_imagenes{
    height: 400px;
    width: 560px;
    margin-top: 30px;
    background-color: rgb(178, 166, 140);    
    justify-content:center;
    align-items: center;
    border-radius: 15px;    
    text-align: center;
    
  }

  .info_vendedor{
    display: flex;
    width: 400px;
    justify-content:space-evenly;
    align-items: center;
  }

  .vendedor_perfil{
    width: 70px;
    height: 70px;
   border-radius: 50px;
    
  }
  .imageButton{
    width: 70px;;
    height: 70px;;
    background:rgb(220, 201, 168);
    border-radius:50px;
    border-style:none;
  }

  .botoncarrito{
   
    width: 170px;;
    height: 50px;;
    background:rgb(220, 201, 168);
    border-radius:15px;
  }
  .descripcion_producto{
    height: auto;
    width: 500px;
    text-align: justify;
    text-justify: inter-word;

  }
  .boton_producto{

    text-align:center;
    width: 150px;;
    height: 250px;;
    background:rgb(220, 201, 168);
    border-radius:15px;
  }  
  .productos_similares{
    display: flex;
    width: 600px;
    height: 350px;
    justify-content: space-evenly;
  }
  .nombre_vendedor{

    margin-left:20px;
  }

  .titulo_producto{
    margin-top: 415px;
    }

  .opciones_ventas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
  }
  .boton_opcion_venta{
    width: 170px;;
    height: 70px;;
    background:rgb(220, 201, 168);
    border-radius:45px;
  }
  .productos_disponibles{
    
    display: flex;
    flex-direction: column;
    width:340px;
    height: 1000px;;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(236, 225, 210);
    border-radius: 25px;
    margin-bottom: 150px;
  }
  .producto_en_venta{

    display:flex;
    flex-direction: column;
    width: 92%;
    height: 280px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    background:rgb(220, 201, 168);

  }
  .text_left{
    width: 400px;
    display: flex;

  }
  .text_right{
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: start;
  }
 
  .icons8-editar { 
    width: 45px;
    height: 45px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTSAxOC40MTQwNjIgMiBDIDE4LjE1ODA2MiAyIDE3LjkwMjAzMSAyLjA5Nzk2ODcgMTcuNzA3MDMxIDIuMjkyOTY4OCBMIDE1LjcwNzAzMSA0LjI5Mjk2ODggTCAxNC4yOTI5NjkgNS43MDcwMzEyIEwgMyAxNyBMIDMgMjEgTCA3IDIxIEwgMjEuNzA3MDMxIDYuMjkyOTY4OCBDIDIyLjA5ODAzMSA1LjkwMTk2ODcgMjIuMDk4MDMxIDUuMjY4OTA2MyAyMS43MDcwMzEgNC44Nzg5MDYyIEwgMTkuMTIxMDk0IDIuMjkyOTY4OCBDIDE4LjkyNjA5NCAyLjA5Nzk2ODcgMTguNjcwMDYzIDIgMTguNDE0MDYyIDIgeiBNIDE4LjQxNDA2MiA0LjQxNDA2MjUgTCAxOS41ODU5MzggNS41ODU5Mzc1IEwgMTguMjkyOTY5IDYuODc4OTA2MiBMIDE3LjEyMTA5NCA1LjcwNzAzMTIgTCAxOC40MTQwNjIgNC40MTQwNjI1IHogTSAxNS43MDcwMzEgNy4xMjEwOTM4IEwgMTYuODc4OTA2IDguMjkyOTY4OCBMIDYuMTcxODc1IDE5IEwgNSAxOSBMIDUgMTcuODI4MTI1IEwgMTUuNzA3MDMxIDcuMTIxMDkzOCB6Ij48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
    background-size: 70%; 
    background-color: rgb(238, 232, 225);
    border-radius:50px;
    margin-inline-end: 1%;
  }
  .icons8-back { 
    width: 45px;
    height: 45px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAAY0lEQVRIie2UMQqAMBAEJ2Lhs/Ii9Sna+R0/5qWJCjYqYSXCDRwpDmYgxYHzF0IemXwGFkVklxuwAVEp713+qbx0DppLxBATgInziwaPVBEpOhXtzd6AMb8dsL4NPEV6rh0tCXInNHOI/GCqAAAAAElFTkSuQmCC') 50% 50% no-repeat;
    background-color:rgb(220, 201, 168);
    background-size: 70%; 
    border-radius:50px;
    margin-inline-end: 25%;
  }

  .icons8-notificacion { 
    width: 45px;
    height: 45px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAABmJLR0QA/wD/AP+gvaeTAAAIJklEQVR4nO2dWYwURRjHfzCwLLtIABc8ENTgHV0VbwOoLz4YDYdHROOJB2p80ahR4x2jiYYHEzXGM5oYE694oUbFK8YTlCMKMSqwIMoiEMDlXPHh68l2fd09szNdNV3du7+ks1OzNV3/ququqv6q6mvIHwcBjwKLgS3BsRh4BJiQoa7CMwC4F9gB7E44tgN3B3H7scyzJBe8Pp7OSGNhmU18Qa8Kjrj/XZ2J0gLSCqzFLNxvgfZQnHbgOxXnb6CloUoLyvmYBfs7MCwmXgvwq4o7o0Ea62Zg1gJ6wakqfDcy8tF0AQ+o7yY5UWSRPFTAXiq8pELcRSq8t2Ut1slDBeirfXSFuLqyNlvWYp08VIC+4mdXiHttld96h+8VsDcwQn03A7gDU3sJuBOYruKOJHpX9FOFJuBi4DOgm+SHrYXAw8GxsEK8bmAeMDM4dz8JDAKuA1bS+yfeWo/lyANaqUF5yg2nUPkqLh8behFnFbCzSpz5wPENyZnnlIC7SC6wdcAzwFSgDWlCbgVWx8T9A7g+OOdQ4AxgDtCRcO4dwG30YcNdC/Am8YWzBLgEaE747UDgaGAaUjlHklyQpSDONwlpvQIMSZ2bnNEKfEm0MNYCl+NudDaDeOPdJ8hd0ydoQjKsC+FdpJlxzXDg1Zj05yIDgcLzFNHMP0Rj2+IBiE1J63isgRoy4WKimb4zQz03xei5IEM9ThlLdBj5eKaKhDmYmjop6NPzS5gZ/Q4/nkwHAV9hansmU0UOOAbTrLANOCRTRSYHIZrC5osjM1VkmZeJdrq+8SCmxhezlWOPfTGfdDcDe2aqKJ5RwCbMJ2XnfUEjzNEzMcfXzwP/NCDdWlkPvBAKDwYuzEiLVbQJYGK2cioyEVPrV9nKSc8oYBemwcx3fqdH7y5kUscZrpugyZi29w8cp2eDj0KfS0RXZVjFdQXo5uZbx+nZQGt02mS6roAjVHih4/Rs8JMKO30ecF0B41U4D33AchUel4kKS6ygp0P7N2MttbCVBg0cXN8BraHPccsJfSWstTUxlgVcV0B4SnGb47Rs0hX67HSFtesKCE/zbXWclk3CF0vSvLQVXFZAkzp/XiughJglnOCyAvSVk6cmSGt1tmrCZQXoVQZ5ugO0VmfNUP8dEI/W6mzJissK0EtMNjpMyzZaq7PlMi4rYKwKr3KYlm1Wq/C+rhJyWQFa9J8O07KN1prLCthHhfVV5TNaq76breGyArQhbo3DtGyj7wCdl1wwH3N6r9LmOt8Yg6n9+2zl1M4gTItiR7Zy6mINPfq34mjhrqsm6DDM5wA9yZEHwpqbgYNdJOKqAk5Q4TzMhGm05hNdJOKqAs5U4TzMBWu+UWGdJ28ZiOndZDvxzjV8Zzimc6hO/N9XDcDJmCOIednKScVnmHk5yXYCLmr0MhXOw1qgJD5U4UszUVEDQzE3YXQD+2eqKB0HYi6r34jnTqCuwbxl9RWURz7GzNOsbOUk04S5rrIo+61mYuZpOX7s7IlwI6bQ33A4l9pAmpC1QeG83ZCpohjGIuvrwyJ1Z5xnZmHmbSMerZgbALyPKfAXirXpeRCwDDOP7+GJn4n7MYV1A1MyVeSG04D/MPN6T6aKkGZGi/Jh768rnsTM639k2NReSdSj1Xw8HyenpBX4ETPPuxAHIw1jINLs6Cv/L3I6c1Qj45G86jvhPhpgK2pDvIpo/wprgaNcJ+4R7YhxTpfDJzj0VTqZeE9Vq+hbhV+mneTysO6x9wri/fb/COxnO7EcMY5on1De5G2tXzibePeRT+F46XZOGEq8D6RupOxS0UTU6d2/wEVpT1xALkLKJlxWHaS0G01RJ1yN3zvds2Yi0X5hcqUfVBs2aWPa68CCetX1ARYAb6jv9khzwnFELZz97X4yzURN8qmXsyxQJ3yLfE6yu2YP4G3MsvrBxonPJdrD/4o4Te1HmEb09Sm7iXpzr5u4YdZu5I0Vs/HTAZNr2hBn44uIL5snbCY2GHG0FJdQ2SA1D/HrP4li9hPNSN7uQPIadsOjj+fo5WxgrRMKVyP+3qpd8d3INN5SZHJmWfB5JWJD8XW/WDOyMno8cGhwHB4cB1Dd7f0/wO3U8CK5emZ0RgA3A1dRv+FpE7L6uBMx5K1DfMltC/5uCT5vQh5udqjfdyEr7sIMIWoKb0JMyMORwh2GdJbNwd82pMBHI7tg6h0y/oUU+hwauBduMOIM+0WkAJNux6Ie64K8TyfF4gNbc5olxDfoJORlDO3I+Lco88K7kFHOIuBrxPP7QqSpTYXLSeUhSNt5KLI6bnzwdz/ED9tIpGnwgU3Iir71iClhBdJfrUD6r5+JNoNWyHpWv0RPZYxEnPyNRN4NHN4Y9xryFD4A861KZRcC4f5gI9JETADOC32/GriFnoLeEDpSX8lFYhSmo9cN1OezpwUZlYSHyt49r/i43n0yZt/xKvV52+pCXpFSpoSH75b0sQL0xP6yFOdaqsLerGYr42MFaEepaXbY6w3Xo1Kcywk+VoD2K52m0PTe5M4U53KCjxWgr9o0M3DHVjl3PzG0YRq6OqnPX08L5hP6TjwcBfnK55iP/bfXcY671Dk+taauDzAds/C2U2VyWzGF6DqmqZY1Fh79Yp3NiPGvGucFccO//cKRxkIzgXgr61zgLMxJn+bgO71RpNyHHNgw1QXjdGRuIM4cvBNZh1np9bWbKeZmkYbSTnSTXG+ODuC4DPQWkmHAvYh9p1rBdyGvOdfvoveSrM3RtTIGGc2cg0z4lFdmdyATJu8g65a8e+JN4n+/eDZTZv2v3gAAAABJRU5ErkJggg==') 50% 50% no-repeat;
    background-color:rgb(220, 201, 168);
    background-size: 70%; 
    border-radius:50px;
    margin-inline-end: 25%;
  }

  .icons8-carrito { 
    width: 45px;
    height: 45px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAACiElEQVR4nO2au09UQRSHv4sabGwMhMKlYRVDbEyEjs6CnoSKwg5L/wV7E2sbG0ohFrYaO2OloaMgPgIKGEPWpVAjj7WYXdg7cB9753GG3fmSU8xd7szv/nLOuSe7QCQSiaRpFcQhsAY8BK4IaXRKkQHdsQaMysh0Ry8GdEwYFlHqiF4NaAGPRJQKMQK8Im3Ae1FFAkyQNmBXVo5/LgH/ODXgmAvaB4Yq3ncE7HStE+CGuRz/VDUA4Ju2HjcRIoWJAVvaumYiRAqbBgxcBvRFCZgwT7WhyXcs5D2EzQwIlQ95H9rsASHSAL7k/YGJAT9Qw1DIfESVQSYmBhwD29q126ihSCqeaHpy0x/MDIDw3gT3tLVzA0KaBRLgrnbNuwGS02AduN61bgCfi27qpxLQ07+wAUJ/lUDP9Q/2M0CyBCoZYMoY6bGz4ePQc0iAPU1L3dfBf7WDr/k4WKOuafjV1laIaQm0gO/aNYkyOC/9CxsgmBsAYTTCyvVvw4AQGuG0tvZqgHQGVJoAO7jIAN8GTJCeAJvAp7I3u8gA3yUwq61LTYAdLlsQIFUCQ6jm91i7/s7T+SeMIv+9XyeOgCm3j3uWBPhjKNxWPHX8rJlslBToMp6jfrMU4W0JgS7iJ+qn+jn3j5jPMmlhS7JyymPjNQjyr8LK2DJgU1vfsbTvhWGGdAkcAA+Aq5KifJIA68g0wmC4j/onyoE1AGAR+M0AGwBwE3gGfEX1goEzANRrcAXYb8dLYDKg/ZxS4+w3tK32tSrzge39nLNCdrq+CGA/5+yTLbgZwH4pbE2CZbHdtIz3c2HA65zP3gSwn3MmyW5atwLYzws1VINqtmMVM7G294tEIpFIJBLhPyNO9PIoyQHOAAAAAElFTkSuQmCC') 50% 50% no-repeat;
    background-color:rgb(220, 201, 168);
    background-size: 70%; 
    border-radius:50px;
    margin-inline-end: 25%;
  }
  .info_mi_producto{
    display: flex;
    width: 100%;
    justify-content:left;
    align-items: center;
    height: auto;
  margin-inline-start: 15%;
  }
  #producto_propio{
    width: 80%;

  }
  .carrito_back{
   margin-top: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 400px;
  }
  .busqueda{
    width: 270px;;
    height: 50px;;
    background:rgb(220, 201, 168);
    border-radius:15px;
    border: none;
    
  }
  .buscar{
    width: 70px;;
    height: 35px;;
    background:rgb(220, 201, 168);
    border-radius:10px;
    margin-inline-start: 10px;
  }
  .icons8-basura { 
    
    width: 45px;
    height: 45px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMzIiIGhlaWdodD0iMzIiCnZpZXdCb3g9IjAgMCAzMiAzMiIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDE1IDQgQyAxNC40NzY1NjMgNCAxMy45NDE0MDYgNC4xODM1OTQgMTMuNTYyNSA0LjU2MjUgQyAxMy4xODM1OTQgNC45NDE0MDYgMTMgNS40NzY1NjMgMTMgNiBMIDEzIDcgTCA3IDcgTCA3IDkgTCA4IDkgTCA4IDI1IEMgOCAyNi42NDQ1MzEgOS4zNTU0NjkgMjggMTEgMjggTCAyMyAyOCBDIDI0LjY0NDUzMSAyOCAyNiAyNi42NDQ1MzEgMjYgMjUgTCAyNiA5IEwgMjcgOSBMIDI3IDcgTCAyMSA3IEwgMjEgNiBDIDIxIDUuNDc2NTYzIDIwLjgxNjQwNiA0Ljk0MTQwNiAyMC40Mzc1IDQuNTYyNSBDIDIwLjA1ODU5NCA0LjE4MzU5NCAxOS41MjM0MzggNCAxOSA0IFogTSAxNSA2IEwgMTkgNiBMIDE5IDcgTCAxNSA3IFogTSAxMCA5IEwgMjQgOSBMIDI0IDI1IEMgMjQgMjUuNTU0Njg4IDIzLjU1NDY4OCAyNiAyMyAyNiBMIDExIDI2IEMgMTAuNDQ1MzEzIDI2IDEwIDI1LjU1NDY4OCAxMCAyNSBaIE0gMTIgMTIgTCAxMiAyMyBMIDE0IDIzIEwgMTQgMTIgWiBNIDE2IDEyIEwgMTYgMjMgTCAxOCAyMyBMIDE4IDEyIFogTSAyMCAxMiBMIDIwIDIzIEwgMjIgMjMgTCAyMiAxMiBaIj48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
    background-color:rgb(236, 225, 210);
    background-size: 70%; 
    
    border-radius:50px;
     margin-left: 10px; 
     margin-top: 10px;   
  }
.producto{
  display: flex;  
  width: 150px;;
  height: 250px;;
  background:rgb(220, 201, 168);
  border-radius:15px;
}
.producto_carrito{

  display: flex;
  width: 500px;
  height: 300px;
  justify-content: space-evenly;

}
.resumen_producto{
  display: flex;
  width: 300px;
  height: 250px;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;

}
#producto_carrito{
  width: 100%;
  height: 200px;


}
.aling_in_line{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}  
.button_normal{
  height: 36px;
  background:rgb(220, 201, 168);
  border-radius:10px;
}
.descripcion{
  height: auto;
    width: 500px;
    text-align: justify;
    text-justify: inter-word;
}


/* menu desplegable */

input#abrir-cerrar { visibility:hidden; position: absolute; top: -9999px; }

input#abrir-cerrar:checked ~ #sidebar {
    width:200px;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:200px;
    transition: margin-left .4s;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar { 
    display:inline;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

body {
    font-family: "Segoe UI", sans-serif;
    font-size:100%;
    margin:0;
    padding:0;
}

header {
    background:rgb(236, 225, 210);


    color:#eee;
    width:100%;
}

input#abrir-cerrar {
    visibility:hidden;
    position: absolute;
    top: -9999px;
}


label[for="abrir-cerrar"] {
    cursor:pointer;
    padding: 1rem;
    background-color:rgb(220, 201, 168);
    color:black;
    display:inline-block;
    width: 10px;
    height: 10px;
    border-radius: 30px;
    text-align: center;
}
.cerrar {
    display:none;
}

#sidebar {
    width:0;
}

#contenido {
    margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
    width:200px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:200px;
    transition: margin-left .4s;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
    display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(236, 225, 210);
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;

}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;

}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a {
    display: block;
    font-size: 120%;
    color: black;
    text-decoration: none;
    
}

#contenido {
    transition: margin-left .4s;
    padding: 0.5rem;
}

.abrir-cerrar {
    color:aquamarine;
    font-size:0.2rem;   
}
.banner{
  width: 80%;
  height: 200px;
  background-color: rgb(220, 201, 168);
  border-radius: 20px;

}
#ventas_registradas{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 800px;
  align-items: center;
  justify-content: space-evenly;
  background:rgb(236, 225, 210);
  border-radius:15px;
  margin-bottom: 30px;
}

#venta_registrada{
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 200px;
  justify-content: space-evenly;
  align-items: center;
   background-color: rgb(220, 201, 168);
  border-radius:15px;
}
#venta_final_resumen{
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;

}
#producto_comprado{
  width: 40%;
  height: 50%;
  background-color: rgb(178,166,140);
}
.splash_image{

  display: flex;
  flex-direction: column;
  width: 1080px;
  height: 960px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
#splash{
  background-color: rgb(242,238,236);

}
.login{
  width: 100%;
  height: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(242,238,236);

}

#ingreso_datos{
  

  width: 100%;
  height: 960px;
display: flex;
margin: 0 auto;
flex-direction: column;
justify-content: center;
align-items: center;
 
}
.form{

  width: 50%;
  height: auto;
display: flex;
margin: 0 auto;
flex-direction: column;
justify-content: center;
align-items: center;
}
#redes{
  width: 10%;
}
.btn_home{
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
#logo{
  width: 70px;
  height: 70px;
}

.hamburguesa{
 width: 100%;
 height: 100%;
}

.home_bar{
display: flex;
width: 500px;
justify-content: space-evenly;
align-items: center;
margin-left: 80px;
}
#home_btns{

  display: flex;
  width: 200px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 00px;
}
.productos_mostrador{
  display: flex;
  width: 400px;
  height: 300px;
  justify-content: space-evenly;
}
.busqueda_home{
  width: 450px;;
  height: 50px;;
  background:rgb(220, 201, 168);
  border-radius:15px;
  border: none;
  
}
.mostrador{
  width: 460px;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 150px;
  background-color: rgb(236, 225, 210);
  border-radius: 40px;
}